<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XC Blog - Blog Manage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<!--import navigation bar fragment-->
<div th:replace="fragments/admin-nav-bar :: admin-nav"></div>

<body>
<!-- secondary nav bar -->
<div class="ui attached pointing teal menu">
    <div class="ui container">
        <div class="right menu">
            <a href="" class="item">Blog Posting</a>
            <a href="" class="active item">Blog List</a>
        </div>
    </div>
</div>
<!------ Content ------>
<div class="m-padded-tb-large">
    <div class="ui container">
        <!-- form for searching article -->
        <form action="" method="post" class="ui segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" name="title" placeholder="Title">
                </div>
                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="type">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select a Type</div>
                        <div class="menu">
                            <div class="item" data-value="1">Coding</div>
                            <div class="item" data-value="1">Thoughts</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend">
                        <label for="recommend"><h5>Recommend?</h5></label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui mini teal button">
                        <h5>Search</h5>
                    </button>
                </div>
            </div>
        </form>
        <!-- add article button -->
        <div class="field right aligned">
            <a href="" class="ui mini teal button m-padded-tb-medium"><h4>Post a blog</h4></a>
        </div>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>No.</th>
                <th>Title</th>
                <th>Type</th>
                <th>Recommended</th>
                <th>Post Time</th>
                <th>Operation</th>
            </tr>
            </thead>
            <!---- list body ---->
            <tbody>
            <tr>
                <!-- article number -->
                <td>1</td>
                <!-- title -->
                <td>Article Title</td>
                <!-- type -->
                <td>Coding</td>
                <!-- recommended -->
                <td>Yes</td>
                <!-- post time -->
                <td>2022/09/30</td>
                <td>
                    <a href="" class="ui mini teal basic button">Edit</a>
                    <a href="" class="ui mini red button">Delete</a>
                </td>
            </tr>
            </tbody>

            <tfoot>
            <tr>
                <th colspan="6">
                    <div class="ui right floated pagination menu">
                        <!-- page icons -->
                        <!-- prev page -->
                        <a href="" class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                        <!-- next page -->
                        <a href="" class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>

    </div>
</div>

<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!-- menu bottom click monitor in mobile devices -->
<script>
        $('.menu.toggle').click(function () {
          $('.m-item').toggleClass('m-mobile-hide');
        });
        $('.ui.dropdown').dropdown();
    </script>
</body>

<!--import footer fragment-->
<div th:replace="fragments/footer :: footer"></div>

</html>