<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XC Blog - Post Blog</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" th:href="@{/lib/markdownEditor/css/editormd.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<!--import navigation bar fragment-->
<div th:replace="fragments/admin-nav-bar :: admin-nav(1)"></div>

<body>
<!-- secondary nav bar -->
<div class="ui attached pointing teal menu">
  <div class="ui container">
    <div class="right menu">
      <a href="" class="active item">Blog Posting</a>
      <a th:href="@{/admin/blogManage}" class="item">Blog List</a>
    </div>
  </div>
</div>
<!------ Content ------>
<div class="m-padded-tb-large">
  <div class="ui container">
    <form id="blog-form" th:object="${blog}" th:action="@{/admin/blogManage}" method="post" class="ui form">
      <input type="hidden" name="published">
      <input type="hidden" name="id" th:value="*{id}">
      <!-- article title -->
      <div class="required field">
        <div class="ui left labeled input">
          <label class="ui basic teal label">Blog Title</label>
          <input type="text" name="title" placeholder="Enter your title here" th:value="*{title}">
        </div>
      </div>

      <!-- article content -->
      <div class="required field">
        <div id="md-content" style="z-index: 1 !important;"> <!-- place markdown editor on top layer -->
          <textarea name="content" cols="30" rows="10" placeholder="Blog Content" style="display: none;" th:text="*{content}"></textarea>
        </div>
      </div>

      <!-- type selection -->
      <div class="two fields">
        <div class="required field">
          <div class="ui left labeled action input">
            <label for="" class="ui compact teal basic label">Type</label>
            <div class="ui fluid selection teal basic dropdown">
              <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
              <i class="dropdown icon"></i>
              <div class="default text">Select a Type</div>
              <div class="menu">
                <div th:each="type : ${types}" class="item" th:data-value="${type.id}" th:text="${type.name}">Types</div>
              </div>
            </div>
          </div>
        </div>

        <!-- tags selection -->
        <div class="field">
          <div class="ui left labeled action input">
            <label for="" class="ui compact teal basic label">Tags</label>
            <div class="ui fluid multiple search selection teal basic dropdown">
              <input type="hidden" name="tags" th:value="${tagIds}">
              <i class="dropdown icon"></i>
              <div class="default text">Select Tags or Type to Search</div>
              <div class="menu">
                <div th:each="tag : ${tags}" class="item" th:data-value="${tag.id}" th:text="${tag.name}">Tags</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- control checkbox -->
      <div class="ui segment">
        <div class="inline fields segment">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="recommend" name="recommend" class="hidden" th:checked="*{recommend}">
              <label for="recommend">Recommend</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="comment" name="allowComment" checked class="hidden" th:checked="*{allowComment}">
              <label for="comment">Allow Comments</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="allowShare" name="shareStatement" checked class="hidden" th:checked="*{shareStatement}">
              <label for="allowShare">Allow Share</label>
            </div>
          </div>
        </div>
      </div>

      <!-- picture URL -->
      <div class="field">
        <div class="ui left labeled input">
          <label class="ui teal basic label">Blog Pic</label>
          <input type="text" name="picture" placeholder="Blog Picture URL" th:value="*{picture}">
        </div>
      </div>

      <!-- blog abstract -->
      <div class="field">
        <h3>Blog Abstract</h3>
        <textarea name="blogAbstract" id="" cols="30" rows="5" th:text="*{blogAbstract}"></textarea>
      </div>

      <div class="ui error message"></div>

      <!-- post buttons -->
      <div class="ui right aligned container">
        <button type="button" class="ui button" onclick="window.history.go(-1)">Back</button>
        <button type="button" id="save-btn" class="ui secondary button"
                th:text="*{id}==null ? 'Save Draft' : 'Edit Draft'">Save</button>
        <button type="button" id="publish-btn" class="ui teal button"
                th:action="*{id}==null ? @{/admin/blogManage} : @{/admin/blogManage/{id} (id = *{id})}">Post</button>
      </div>
    </form>
  </div>
</div>

<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<!-- import markdown editor -->
<script th:src="@{/lib/markdownEditor/editormd.min.js}"></script>
<!-- initialize markdown -->
<script th:inline="javascript">
        var testEditor;

        $(function() {
            testEditor = editormd("md-content", {
                width   : "100%",
                height  : 640,
                syncScrolling : "single",
                path    : /*[[@{/lib/markdownEditor/lib/}]]*/
            });

            /*
            // or
            testEditor = editormd({
                id      : "test-editormd",
                width   : "90%",
                height  : 640,
                path    : "../lib/"
            });
            */
        });
    </script>

<!-- menu bottom click monitor in mobile devices -->
<script>
        $('.menu.toggle').click(function () {
          $('.m-item').toggleClass('m-mobile-hide');
        });

        $('.ui.dropdown').dropdown();

        <!--    When click "Save" button, pass False as the value of hidden input "published"    -->
        $('#save-btn').click(function(){
          $('[name="published"]').val(false);
          $('#blog-form').submit();
        });

        <!--    When click "Post" button, pass True as the value of hidden input "published"    -->
        $('#publish-btn').click(function(){
          $('[name="published"]').val(true);
          $('#blog-form').submit();
        });

        // Pop error message(s) if there's empty field(s)
        $('.ui.form').form({
            fields : {
                title : {
                    identifier: 'title',
                    rules: [{
                        type : 'empty',
                        prompt: 'Title: Please Enter a Blog Title'
                    }]
                },
                content : {
                    identifier: 'content',
                    rules: [{
                        type : 'empty',
                        prompt: 'Content: Please Enter Content'
                    }]
                },
                type: {
                    identifier: 'type',
                    rules: [{
                        type : 'empty',
                        prompt: 'Type: Please Select a Type'
                    }]
                },
                picture : {
                    identifier: 'picture',
                    rules: [{
                        type : 'empty',
                        prompt: 'Picture: Please Put a Picture'
                    }]
                },
                abstract : {
                    identifier: 'abstract',
                    rules: [{
                        type : 'empty',
                        prompt: 'Abstract: Please Enter Abstract'
                    }]
                },

            }
        });
    </script>
</body>

<!--import footer fragment-->
<div th:replace="fragments/footer :: footer"></div>

</html>