<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<!------ Navigation bar ------>
<nav th:fragment="admin-nav(n)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Admin Page</h2>
            <a th:href="@{/admin/blogManage}" class="m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class="small idea icon"></i>Blogs</a>
            <a th:href="@{/admin/typeManage}" class="m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class="small tags icon"></i>Types</a>
            <a th:href="@{/admin/tagManage}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class="small clone icon"></i>Tags</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img th:src="${session.user.avatar}" class="ui avatar image">
                        <span th:text="${session.user} != null ? ${session.user.nickname}"></span>
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a th:href="@{/admin/logout}" class="item"><i class="logout icon"></i>Log out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

</body>
</html>