<!------ Footer ------>
<footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="four wide column">
                <h3 class="ui inverted header m-opacity-mini">Social Medias</h3>
                <div class="ui inverted link list">
                    <a href="https://www.linkedin.com/in/xuanfu-chen-b72191211/" target="_blank" class="item">My LinkedIn</a>
                </div>
            </div>
            <div class="four wide column">
                <h3 class="ui inverted header m-opacity-mini">Contact Me</h3>
                <div class="ui inverted link list">
                    <p class="item">Email: xuanfuwork17(at)gmail.com</p>
                    <p class="item">Tencent QQ: 1578730391</p>
                </div>
            </div>
            <div class="eight wide column">
                <h3 class="ui inverted header m-opacity-mini">About This Blog</h3>
                <p class="m-opacity-mini">This is my personal blog. I'm going to post blogs about coding and my thoughts here.</p>
                <p class="m-opacity-mini">I will be glad if you like my blogs.</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny">Copyright © 2022 Xuanfu Chen</p>
    </div>
</footer>