/* ------ padding ------ */

.m-padded-small{
    padding: 0.4em !important;
}

.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb-medium{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/* ------ display ------ */
.m-inline-block{
    display: inline-block;
}

/* ------ Text Color ------ */

a:link {
    color: black !important;
    background-color: transparent !important;
    text-decoration: none !important;
 }
 a:visited {
    color: gray !important;
    background-color: transparent !important;
    text-decoration: none !important;
 }
 a:active {
    color: black !important;
    background-color: transparent !important;
 }