/* ------ padding ------ */

.m-padded-small{
    padding: 0.4em !important;
}

.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-small{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

.m-padded-tb-medium{
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-tb-large{
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}

.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/* ------ margin ------ */
.m-margin-tb-tiny{
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}


/* ------ display ------ */
.m-inline-block{
    display: inline-block;
}

.m-top-right{
    position: absolute;
    top:0;
    right: 0;
}

.m-mobile-show {
    display: none !important;
 }

 @media screen and (max-width: 768px){
     .m-mobile-hide {
         display: none !important;
     }
     .m-mobile-show {
         display: block !important;
     }
     .m-padded-lr-responsive {
         padding-left: 0 !important;
         padding-right: 0 !important;
     }
     .m-mobile-lr-clear {
         padding-left: 0 !important;
         padding-right: 0 !important;
     }
     .m-mobile-wide {
         width: 100% !important;
     }
 }

/* ------ Text Color ------ */

a:link {
    color: black !important;
    background-color: transparent !important;
    text-decoration: none !important;
 }
 a:visited {
    color: gray !important;
    background-color: transparent !important;
    text-decoration: none !important;
 }
 a:active {
    color: black !important;
    background-color: transparent !important;
 }

