<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XC Blog - Blog Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" th:href="@{/lib/prism/prism.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<!--import navigation bar fragment-->
<div th:replace="fragments/guest-nav-bar :: guest-nav(10)"></div>

<body>
<!------ Content ------>
<div class="m-padded-tb-large m-container-narrow">
  <div class="ui container">
    <!-- header -->
    <div class="ui top attached segment">
      <div class="ui horizontal link list">
        <div class="item">
          <!-- author -->
          <div class="content">
            <p calss="header" th:text="${blog.user.nickname}">Xuanfu Chen</p>
          </div>
        </div>
        <!-- upload time -->
        <div class="item">
          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">Update date</span>
        </div>
        <!-- view count -->
        <div class="item">
          <i class="eye icon"></i><span th:text="|&nbsp;${blog.view}|"></span>
        </div>
      </div>
    </div>

    <!-- image -->
    <div class="ui attached segment">
      <img th:src="@{${blog.picture}}" alt="" class="ui fluid rounded image">
    </div>

    <!-- content -->
    <div class="ui attached padded segment">
      <!-- article title -->
      <h1 class="ui header center aligned" th:text="${blog.title}">Title</h1>
      <!-- article content -->
      <div id="content" th:utext="${blog.content}" class="m-padded-lr m-padded-tb-small">Content</div>
      <!-- tags -->
      <div class="m-padded-lr-small m-padded-tb-medium">
        <div class="ui small teal tag label" th:each="tag : ${blog.tags}" th:text="${tag.name}">Tag</div>
      </div>
    </div>

    <!-- blog info -->
    <div class="ui attached positive message">
      <ui class="list">
        <li>Author: <span th:text="${blog.user.nickname}"></span><a th:href="@{/about}"> (About Me) </a></li>
        <li>Post at: <span th:text="${#dates.format(blog.createTime, 'yyyy-MM-dd HH:mm')}"></span></li>
        <li>Last Update: <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm')}"></span></li>
        <li th:if="${blog.shareStatement}"><a href="https://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">Copyright: Attribution-NonCommercial-NoDerivs 3.0 Unported (CC BY-NC-ND 3.0)</a></li>
      </ui>
    </div>

    <div th:unless="${blog.allowComment}" class="ui bottom attached segment teal">
      <div class="">
        <div class="ui container m-padded-tb-medium" style="max-width: 100%;">
          <h3 class="ui header center aligned">Comment Section has been Closed by Admin</h3>
        </div>
      </div>
    </div>

    <!-- comment -->
    <div th:if="${blog.allowComment}" class="ui bottom attached segment">
      <div class="ui teal segment" id="comment-container">
        <!-- comment list -->
        <!--    header    -->
        <div th:fragment="commentList">
          <div class="ui threaded comments" style="max-width: 100%;">
            <h3 class="ui dividing header">Comments</h3>

            <!--    list    -->
            <div class="comment" th:each="comment : ${comments}">
              <a class="avatar">
                <img th:src="@{${comment.avatar}}">
              </a>
              <div class="content">
                <a class="author" th:text="${comment.nickname}">Nickname</a>
                <!--     Admin label      -->
                <div class="ui mini basic red left pointing label m-padded-small" th:if="${comment.isAdmin}">Admin</div>
                <div class="metadata">
                  <span class="date" th:text="${#dates.format(comment.createTime, 'yyyy-MM-dd HH:mm')}">Post Time</span>
                </div>
                <div class="text" th:text="${comment.content}">Content</div>
                <div class="actions">
                  <a class="reply" th:attr="data-commentid=${comment.id}, data-commentnickname=${comment.nickname}" onclick="reply(this)">Reply</a>
                </div>
              </div>
              <!--    secondary comments (comments of comment)    -->
              <div class="comments" th:if="${#arrays.length(comment.replyComments) > 0}">
                <div class="comment" th:each="reply : ${comment.replyComments}">
                  <a class="avatar">
                    <img th:src="@{${reply.avatar}}">
                  </a>
                  <div class="content">
                    <a class="author">
                      <span th:text="${reply.nickname}">Replier</span>
                      <!--     Admin label      -->
                      <span class="ui mini basic red left pointing label m-padded-small" th:if="${reply.isAdmin}">Admin</span>
                      &nbsp;<span th:text="|@${reply.parentComment.nickname}|" class="m-teal">Repliee</span>
                    </a>
                    <div class="metadata">
                      <span class="date" th:text="${#dates.format(reply.createTime, 'yyyy-MM-dd HH:mm')}">Post Time</span>
                    </div>
                    <div class="text" th:text="${reply.content}">Content</div>
                    <div class="actions">
                      <a class="reply" th:attr="data-commentid=${reply.id}, data-commentnickname=${reply.nickname}" onclick="reply(this)">Reply</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <!-- comment posting -->
      <div id="comment-form" class="ui form">
        <input type="hidden" name="blog.id" th:value="${blog.id}">
        <input type="hidden" name="parentComment.id" value="-1">
        <div class="field">
          <textarea name="content" placeholder="Comment here..."></textarea>
        </div>
        <div class="fields">
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="nickname" placeholder="Name" th:value="${session.user} != null ? ${session.user.nickname}">
            </div>
          </div>
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" name="email" placeholder="Email" th:value="${session.user} != null ? ${session.user.email}">
            </div>
          </div>
          <div class="field  m-margin-bottom-small m-mobile-wide">
            <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>Post Comment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<scrip src="@{/lib/prism/prism.js}"></scrip>


<script th:inline="javascript">
        <!-- menu bottom click monitor in mobile devices -->
        $('.menu.toggle').click(function () {
          $('.m-item').toggleClass('m-mobile-hide');
        });

        // Pop error message(s) if there's empty field(s)
        $('.ui.form').form({
            fields : {
                content : {
                    identifier: 'content',
                    rules: [{
                        type : 'empty',
                        prompt: 'Content: Please Enter a Content'
                    }]
                },
                nickname : {
                    identifier: 'nickname',
                    rules: [{
                        type : 'empty',
                        prompt: 'Nickname: Please Enter a Nickname'
                    }]
                },
                email: {
                    identifier: 'email',
                    rules: [{
                        type : 'empty',
                        prompt: 'Email: Please Enter a Valid Email'
                    }]
                }
            }
        });

        $(function () {
          $("#comment-container").load(/*[[@{/comments/{id}(id=${blog.id})}]]*/"");
        });

        //This function will check the validation of comment form and submit it
        $('#commentpost-btn').click(function () {
          var valid = $('.ui.form').form('validate form');
          if(valid){
            console.log('Valid form');
            postData();
          } else {
            console.log('Invalid form');
          }
        });

        function postData() {
          $("#comment-container").load(/*[[@{/comments}]]*/"",{
            "parentComment.id" : $("[name='parentComment.id']").val(),
            "blog.id" : $("[name='blog.id']").val(),
            "nickname": $("[name='nickname']").val(),
            "email"   : $("[name='email']").val(),
            "content" : $("[name='content']").val()
          },function (responseTxt, statusTxt, xhr) {
            clearContent();
          });
        }

        function clearContent(){
          $("[name='content']").val('');
          $("[name='parentComment.id']").val(-1);
          $("[name='content']").attr("placeholder", "Comment here...").focus();
        }

        //AJAX for reply feature, after clicking the reply button:
        //add an "@Username" as Placeholder of the text area
        //set commentId of the comment reply to as it's parentId
        //scroll to the comment posting form
        function reply(obj){
          var commentId = $(obj).data('commentid');
          var commentNickname = $(obj).data('commentnickname');
          $("[name='content']").attr("placeholder", "@"+commentNickname).focus();
          $("[name='parentComment.id']").val(commentId)
          $(window).scrollTo($('#comment-form'),500);
        }


</script>
</body>

<!--import footer fragment-->
<div th:replace="fragments/footer :: footer"></div>
</html>