<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XC Blog - Blog Title</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" th:href="@{/lib/prism/prism.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>

<!--import navigation bar fragment-->
<div th:replace="fragments/guest-nav-bar :: guest-nav(10)"></div>

<body>
<!------ Content ------>
<div class="m-padded-tb-large m-container-narrow">
  <div class="ui container">
    <!-- header -->
    <div class="ui top attached segment">
      <div class="ui horizontal link list">
        <div class="item">
          <!-- author -->
          <div class="content">
            <p calss="header" th:text="${blog.user.nickname}">Xuanfu Chen</p>
          </div>
        </div>
        <!-- upload time -->
        <div class="item">
          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd')}">Update date</span>
        </div>
        <!-- view count -->
        <div class="item">
          <i class="eye icon"></i><span th:text="|&nbsp;${blog.view}|"></span>
        </div>
      </div>
    </div>

    <!-- image -->
    <div class="ui attached segment">
      <img th:src="@{${blog.picture}}" alt="" class="ui fluid rounded image">
    </div>

    <!-- content -->
    <div class="ui attached padded segment">
      <!-- article title -->
      <h2 class="ui header center aligned" th:text="${blog.title}">Title</h2>
      <!-- article content -->
      <div id="content" th:utext="${blog.content}" class="m-padded-lr m-padded-tb-small">Content</div>
      <!-- tags -->
      <div class="m-padded-lr-small m-padded-tb-medium">
        <div class="ui basic teal left pointing label" th:each="tag : ${blog.tags}" th:text="${tag.name}">Tag</div>
      </div>
    </div>

    <!-- blog info -->
    <div class="ui attached positive message">
      <ui class="list">
        <li>Author: <span th:text="${blog.user.nickname}"></span><a th:href="@{/about}"> (About Me) </a></li>
        <li>Post at: <span th:text="${#dates.format(blog.updateTime, 'yyyy-MM-dd HH:mm')}"></span></li>
        <li><a href="https://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank">Copyright: Attribution-NonCommercial-NoDerivs 3.0 Unported (CC BY-NC-ND 3.0)</a></li>
      </ui>
    </div>

    <!-- comment -->
    <div class="ui bottom attached segment">
      <div id="comment-container"  class="ui teal segment">
        <!-- comment list -->
        <div th:fragment="commentList">
          <div class="ui threaded comments" style="max-width: 100%;">
            <h3 class="ui dividing header">Comments</h3>

          </div>
        </div>
      </div>
      <!-- comment posting -->
      <div id="comment-form" class="ui form">
        <input type="hidden" name="blog.id">
        <input type="hidden" name="parentComment.id" value="-1">
        <div class="field">
          <textarea name="content" placeholder="Comment here..."></textarea>
        </div>
        <div class="fields">
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="nickname" placeholder="Name">
            </div>
          </div>
          <div class="field m-mobile-wide m-margin-bottom-small">
            <div class="ui left icon input">
              <i class="mail icon"></i>
              <input type="text" name="email" placeholder="Email">
            </div>
          </div>
          <div class="field  m-margin-bottom-small m-mobile-wide">
            <button id="commentpost-btn" type="button" class="ui teal button m-mobile-wide"><i class="edit icon"></i>Post</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<scrip src="@{/lib/prism/prism.js}"></scrip>

<!-- menu bottom click monitor in mobile devices -->
<script>
        $('.menu.toggle').click(function () {
          $('.m-item').toggleClass('m-mobile-hide');
        });
      </script>
</body>

<!--import footer fragment-->
<div th:replace="fragments/footer :: footer"></div>
</html>